@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Gilroy";
	src: url('static/fonts/Gilroy-Bold.ttf');
}
@font-face {
	font-family: "Gilroy-Light";
	src: url('static/fonts/Gilroy-Light.otf');
}

@font-face {
	font-family: 'Tuffy Bold';
	src: local('Tuffy Bold'), url('static/fonts/Tuffy-Bold.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

:root {
	--dark: #999;
	--darker: #666;
	--darkest: #333;
	--lightblue: #84c4d3;
	--lighterblue: #8cf5f0;
}

.header {
	width: 100vw;
	position: fixed;
	z-index: 999;
	background-color: #262626;
	color: rgb(214, 214, 214);
	min-width: 600px;
	height: 50px;
	top: 0px;
	display: flex;
	justify-content: space-between;
	/*place-content:center;*/
}

.header div {
	display: inline-block;
}

html,
body {
	background-color: #f4f0ec;
	margin: 0;
	min-width: 600px;
}

body {
	font-weight: 400;
	color: #262626;
	overflow: auto;
}
